input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: blue;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  background: blue;
}
input[type="range"]::-ms-thumb {
  background: blue;
}
input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
.foo {
  background: blue;
}
