::-webkit-runnable-track {
    -webkit-appearance: none !important;
    background: #9d9d9d;
    height: 3px
}
::-moz-range-track {
    -moz-appearance: none !important;
    background: #9d9d9d;
    height: 3px
}
::-ms-track {
    background: #9d9d9d;
    height: 3px
}
